@mixin hex($rotate: false) {
    @if $rotate {
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    } @else {
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }
}

@mixin size($size, $rotate: false) {
    @if $rotate {
        height: calc($size * 0.875);
        width: $size;
    } @else {
        height: $size;
        width: calc($size * 0.875);
    }
}

* {
    margin: 0;
    padding: 0;
}

#calcDisplay {
    &::after {
        position: relative;
        right: 16px;
        content: "_";
        animation: blink 1.5s infinite;
        font-weight: bold;
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__display {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: right;
        height: 100px;
        font-size: 30px;
        font-family: Helvetica;
        width: 400px;
        padding: 0 25px;
        color: white;
        background-color: black;
        & > small {
            margin-right: 20px;
        }
    }
    &__key-pad {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        padding: 25px;
    }
    &__btn {
        @include size(100px, true);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px -10px;
        font-family: Arial, Helvetica, sans-serif;
        & > button {
            border: none;
            height: 90%;
            width: 90%;
            background-color: blueviolet;
            @include hex(true);
            &:hover {
                background-color: #5a2d85;
            }
            &:active {
                transform: scale(98%);
            }
        }
        &--font-large {
            font-size: 40px;
        }
        &--font-medium {
            font-size: 20px;
        }
        &--hex {
            @include hex(true);
            background-color: #9a5bd6;
        }
    }
}
